body{
    background-color: #f5f5f5;
    font-family: sans-serif;
    color: #4c7891;
    margin: 0;
}
h1{
    text-align: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div .images{
   background-color: white;
   border-radius: 1rem;
   box-shadow: 1rem 1rem .7rem #0000001a;
   margin: .5rem;
   padding: 1rem;
   text-align: center;
   transition: 0.25s;
}
.images:hover{
    background-color: #c8eeff;
    box-shadow: 1rem 1rem 1rem .2rem #0000001a;
    cursor: pointer;
}
img{
    width: 10rem;
    height: 7rem;
}
.wishListcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wishList{
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.219);
    padding: 1rem;
    margin: 2rem;

}
.wishList p{
    font-weight: 700;
}
